@media screen and (max-width:940px) {
    .general {
        display: flex;

    }

    body nav,
    body aside,
    body main {
        width: 100%;
    }

    body main {
        width: 95%;
        margin: auto;
    }

    .main__fiche__header img {
        left: 22%;
        width: 129px;
    }

    body header {
        flex-direction: column;
    }

    body .header__links {
        margin-bottom: 15px;
    }

    body .header__links img,
    body .header__links .jobijoba {
        width: 30px;
        height: 30px;
    }

    body nav {
        align-items: center;
        display: none;
    }

    body .addFicheNav {
        display: flex;
    }
    body .aside__tris div {
        font-size: 8px;
      }

    body .card__header img {
        right: 1%;
        top: 3px;
    }

    body nav div {
        margin: 6px;
        min-width: 0px;
        width: 170px;
    }

    .modalFiche__container {
        width: 90%;
    }

    textarea[name="description"] {
        resize: none;
        width: 100%;
        height: 70px;
    }

    body aside {
        height: 280px;
    }

    body .aside__fiches_fiche {
        width: 90%;
    }

    body .aside__fiches_fiche img {
        width: 25px;
        height: 25px;
    }

    body .aside__fiches_fiche h2 {
        font-size: 15px;
    }

    body .aside__fiches {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    body .card {
        width: 100%;
        box-shadow: none;
        max-width: 100%;
        min-width: 100%;
        border-radius: 0px;
    }

    body main {
        box-shadow: none;
        width: 100%;
        padding: 7px;
    }

    body .card__header img {
        width: 50px;
        height: 50px;
    }

    body aside {
        scroll-behavior: none;
        overflow-y: none;
        height: auto;
    }

    body .aside__fiches {
        max-height: 300px;
        scroll-behavior: auto;
        overflow-y: scroll;
    }

    body nav {
        margin-top: 0px;
    }

    body .modalFiche input {
        width: 203px;
    }

    body .modalFiche label {
        display: none;
    }
}