.modalFiche {
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-name: leftToRight;
    opacity: 0;
}

@keyframes leftToRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.modalFiche__container {
    background-color: white;
    width: 50%;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 3px;
}

.modalFiche__container div {
    margin: 10px;
}

.leave {
    width: 100%;
    display: flex;
    justify-content: end;
}

textarea[name='description'] {
    resize: none;
    width: 300px;
    height: 200px;
}

.modalFiche input {
    width: 300px;
    height: 25px;
    padding-left:15px;
}

.modalFiche textarea {
    padding: 15px 15px;
}

select {
    padding: 5px;
    background-color: white;
}

select option:hover {
    background-color: red;
}

.modalFiche label {
    font-weight: 600;
    font-size: 17px;
    margin-right: 15px;
}
.green{
    background-color:green;
}